<div class="page-container">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="50" fxLayout="column" class="login-card">
      <mat-card-title fxFlex="10"> Create Password </mat-card-title>
      <mat-card-subtitle fxFlex="10">
        create your password to complete the sign up!!</mat-card-subtitle
      >
      <mat-card-content fxFlex class="login-card-content">
        <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
          <div
            fxLayout="row wrap"
            class="login-card-content"
            fxFlex="100"
            fxLayoutAlign="center space-around"
          >
            <mat-form-field fxFlex="55">
              <mat-label> otp </mat-label>
              <input formControlName="otp" matInput type="text" />
              <mat-error *ngIf="otpForm?.controls?.invalid">
                invalid password
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" fxFlex="50" type="submit">
              verify otp
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
