@import "~@angular/material/theming";
@include mat-core();

$indigo-palette: (
  50: #e8eaf6,
  100: #2237c2,
  200: #3950d6,
  300: #2e47c5,
  400: #745eee,
  500: #4f36da,
  600: #846ffc,
  700: #502ada,
  800: #3c2dc2,
  900: #7b2549,
  A100: #ffbcd7,
  A200: #ff89b8,
  A400: #ff5699,
  A700: #ff3c8a,
  // ... continues to 900
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #ffffff,
    ),
);
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50: #fcf3f3,
  100: #f9e0e0,
  200: #f5cccc,
  300: #f0b8b8,
  400: #eda8a8,
  500: #ea9999,
  600: #e79191,
  700: #e48686,
  800: #e17c7c,
  900: #db6b6b,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffeaea,
  A700: #ffd0d0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($md-mcgpalette0);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-light-theme(
  $my-custom-primary,
  $my-custom-accent,
  $my-custom-warn
);

@include angular-material-theme($my-custom-theme);
